<launch>
    <!-- Load joint state controller -->
    <rosparam command="load" file="$(find urdf_simulate)/config/joint_controllers.yaml" />

    <!-- Start joint state controller -->
    <node name="joint_controller" pkg="controller_manager" type="spawner" respawn="true"
        output="screen"
        args="joint_state_controller lift_controller" />
</launch>